<!DOCTYPE html>
<html>
<head>
    <title>Date Picker</title>
    <script src="{{ url_for('static', filename='js/getAllData.js') }}"></script>


    <style>
      table {width: 50%;}
      tr:nth-child(even) {background-color: #f2f2f2;}
      th, td {border-bottom: 1px solid #ddd; padding: 15px; text-align: left;}
      th {background-color: #04AA6D; color: white;}
    </style>

</head>
<body>
<h1>Temperature Sensor Logs</h1>

<form action="/" method="post">
    <input type="date" name="date">
    <button type="submit">Submit</button>
</form>

{% if date %}
    <h3>Displaying logs for {{ date }}</h3>
{% else %}
    <h3>Displaying all logs</h3>
{% endif %}

<h2>Temperature & Humidity</h2>


{% if reports %}

<table>
 <tr>
   <th>Time</th>
   <th>Temperature</th>
   <th>Humidity</th>
 </tr>
  {% for entry in reports %}
    <tr>
      <td>{{entry.created_at | datetimefilter}}</td>
      <td>{{entry.temperature}}</td>
      <td>{{entry.humidity}}</td>
    </tr>
  {% endfor %}
</table>
{% else %}
    <p>No Temperatures recorded {% if date %}on {{ date }}{% endif %}</p>
{% endif %}

</body>
</html>
