

<!DOCTYPE html>
<html>
<head>
    <title>Date Picker</title>
    <script src="{{ url_for('static', filename='js/getAllData.js') }}"></script>
</head>
<body>
    <!-- Date picker input -->
    <input type="date" id="datepicker">
    <!-- Button to send request -->
    <button onclick="getAllData()">Send Request</button>

    <h1>Foods</h1>
    <ul id="foodList">
        {% for food in foods %}
            <li>{{ food.name }}: {{ food.amount }}</li>
        {% endfor %}
    </ul>

    <h1>Drinks</h1>
    <ul id="waterList">
        {% for water in waters %}
            <li>Water: {{ water.amount }}</li>
        {% endfor %}
    </ul>

<!-- Script to send request -->

</body>
</html>
