<!DOCTYPE html>
<html>
<head>
    <title>Date Picker</title>
    <script src="{{ url_for('static', filename='js/getAllData.js') }}"></script>
</head>
<body>
    <h1>Food & Water Logs</h1>

<form action="/" method="post">
    <input type="date" name="date">
    <button type="submit">Submit</button>
</form>

{% if date %}
    <h3>Displaying logs for {{ date }}</h3>
{% else %}
    <h3>Displaying all logs</h3>
{% endif %}

<h2>Foods</h2>
{% if foods %}
<ul id="foodList">
    {% for food in foods %}
        <li>{{ food.name }}: {{ food.amount }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No foods recorded {% if date %}on {{ date }}{% endif %}</p>
{% endif %}

<h2>Drinks</h2>
{% if waters %}
<ul id="waterList">
    {% for water in waters %}
        <li>Water: {{ water.amount }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No waters recorded {% if date %}on {{ date }}{% endif %}</p>
{% endif %}

</body>
</html>
