<!doctype html>
<html lang="en">
<head>
    <title>Commands</title>
</head>
<body>
<h1>Foods</h1>

<form action="/food" method="post" id="food-form">
    <label for="food-name">Food Name:</label><br>
    <input type="text" id="food-name" name="name"><br>
    <label for="food-amount">Food Amount:</label><br>
    <input type="text" id="food-amount" name="amount"><br><br>
    <button type="submit">Submit</button>
</form>
<ul>
    {% for food in foods %}
        <li>{{ food.name }}: {{ food.amount }}</li>
    {% endfor %}
</ul>
</body>
